<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LifeStealer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A91A7BC1E03B01E000C4ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A91A7D21E03B01E000C4ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A91A7DD1E03B01E000C4ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
